.add-product {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  padding: 20px 50px !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.add-product .title {
  font-size: 26px;
  margin-bottom: 20px !important;
  color: #ff8e0a;
}

.add-product > .notice {
  font-size: 16px;
  color: red;
  margin-bottom: 10px !important;
}

.add-product > .add-product__form {
  margin-top: 20px !important;
}

.product-name,
.product-author,
.product-categories,
.product-image,
.product-price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
}

.product-name label,
.product-author label,
.product-categories label,
.product-image label,
.product-price label {
  text-align: left;
  margin-right: 10px !important;
  margin-bottom: 0;
  color: #333;
  width: 150px;
}

.product-name input,
.product-author input,
.product-categories input,
.product-image input,
.product-price input {
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 18px !important;
}

.product-image input {
  max-width: 1010px;
}

.product-name input:focus,
.product-author input:focus,
.product-categories input:focus,
.product-image input:focus,
.product-price input:focus {
  outline: none;
}

.product-image input:hover {
  cursor: pointer;
}

/* Button */

.create-button {
  padding: 15px 20px !important;
  border-radius: 3px;
  border: none;
  background-color: #ff8e0a;
  color: #fff;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin-left: 50% !important;
  transform: translate(-50%, 0);
  margin-top: 20px !important;
}
