/* Utilities */

.alert {
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 1rem !important;
}

.login__nav {
  padding: 20px calc((100% - 1270px) / 2) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.login__nav > .login__logo img {
  width: 240px;
}

.login__nav > .login__logo > p {
  font-size: 28px;
  margin-left: 20px !important;
}

.login__nav > .login__help {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login__content {
  flex-grow: 1;
  background: #ff8e0a;
  color: #333;
  width: 100vw;
  padding: 80px calc((100%-1270px) / 2) !important;
}

.login__content > .login__image {
  margin-right: 60px !important;
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.login__content > .login__image > img {
  width: 220px;
  height: 200px;
  margin-bottom: 20px !important;
}

.login__content > .login__alerts {
  width: 700px;
}

.login__content > .login__form {
  width: 700px !important;
  padding: 20px 40px !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.login__content > .login__form label {
  text-align: left;
}

.login__content > .login__form > .login__label {
  font-size: 20px;
  color: #333;
  border-bottom: 3px solid #ff8e0a;
}

.login__content > .login__form > .user-email label,
.login__content > .login__form > .user-password label {
  margin-right: 10px !important;
  font-weight: 500;
}

.login__content > .login__form > .user-email input,
.login__content > .login__form > .user-password input {
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  font-size: 12px;
  font-weight: 500;
  width: 300px;
}

.login__content > .login__form > .login-button {
  padding: 0.5rem 1.3rem !important;
  border-radius: 3px;
  border: none;
  background-color: #ff8e0a;
  color: #fff;
  font-size: 16px;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 100%;
}
