/* Grid Banners Template */

/* .banners-wrapper {
  position: relative;
  height: 591px !important;
  padding: 16px 63px !important;
} */

.banners-wrapper {
  padding: 0 48px;
  display: flex;
}

.product-menu {
  font-size: 15px;
}

.product-menu > .list-group {
  border-radius: 0 !important;
  width: 240px;
}

.product-menu > .list-group > .list-group-item {
  border-radius: 0 !important;
  padding: 12px 12px !important;
  color: #333;
  cursor: pointer;
  text-transform: uppercase;
}

.banners-carousel__wrapper {
  flex-grow: 1;
  padding: 20px 20px 0 20px !important;
  width: calc(100% - 480px - 40px);
}

.banners-carousel__wrapper > .banners-carousel {
  width: 100%;
  height: 290px;
}

.banners-carousel__wrapper > .banners-carousel .carousel-inner {
  height: 100%;
  display: flex;
}

.banners-carousel__wrapper
  > .banners-carousel
  > .carousel
  > .carousel-inner
  > .carousel-item {
  height: 100%;
  transition: transform 1s ease-in-out !important;
  transition: transform 1s ease-in-out, -webkit-transform 0.1s ease-in-out !important;
  border-radius: 10px;
}

.banners-carousel__wrapper
  > .banners-carousel
  > .carousel
  > .carousel-inner
  > .carousel-item.active {
  display: block !important;
}

.banners-carousel__wrapper
  > .banners-carousel
  .carousel-inner
  .carousel-item
  > img {
  width: 100%;
  height: 290px;
  border-radius: 10px;
}

.banners-carousel__wrapper > .banners-carousel .carousel-inner .active {
  display: block !important;
  transition: transform 1s ease-in-out !important;
  transition: transform 1s ease-in-out, -webkit-transform 0.1s ease-in-out !important;
}

.banners-carousel__wrapper > .banners {
  margin-top: 10px !important;
  height: calc(100% - 290px - 10px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background: #fff;
  padding: 10px !important;
  border-radius: 10px;
}

.banners-carousel__wrapper > .banners > img {
  height: 100%;
  justify-self: stretch;
  border-radius: 10px;
}

.static-banners {
  width: 290px;
  padding-top: 20px !important;
}

.static-banners > img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
/* Products */

.hot-products {
  margin: 40px 0 !important;
  border-radius: 5px;
  padding: 0;
  background: #fff;
}

.hot-products .title {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3rem;
}

.hot-products > hr {
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.list {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-gap: 5px;
}

.item {
  height: inherit;
  width: initial;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item a > img {
  height: 200px;
  width: inherit;
}

.item .item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.item .item-info .item-title > a {
  color: #303030;
}

.item .button-view {
  border-radius: 5px;
}

.item .button-view a {
  color: #303030;
  font-size: 18px;
  font-weight: bold;
}

.item .item-title {
  flex-grow: 1;
}

/* Slick Classes */
.slick-prev {
  left: -15px !important;
  z-index: 2;
}

.slick-next {
  right: -15px !important;
  z-index: 2;
}

.slick-next:before,
.slick-prev:before {
  color: #000 !important;
  font-size: 30px !important;
}

/* .slick-next:before {
  content: ">" !important;
}

.slick-prev:before {
  content: "<" !important;
} */
