extends ../layout/structure.pug

block content
  .container.mt-4
    a.back-home(href="/")
      p.badge.badge-primary.text-wrap
        i.fas.fa-arrow-left 
        | &nbsp; Trở về trang chủ
    .user-view
      form.user-update-info(action="/users/update", method="POST")
        .user-info-username
          label(for="updateUsername") Tên đăng nhập 
          input(type="text", name="updateUsername", value=user.username)
        .user-info-email
          label(for="updateEmail") Email:
          input(type="email", name="updateEmail", value=user.email)
        .user-info-update-password
          label(for="updatePassword") Mật khẩu mới: 
          input(type="password", name="updatePassword")
        button.user-info-button Cập nhật
      .user-info-avatar
        if path
          img(src=process.env.SERVER_URL || "http://localhost:8080/" + path, alt="")
        else 
          button.update-avatar
            p
              i.fas.fa-user-plus
              span &nbsp;
              |  Upload Avatar

          