server {

  location /public/src/uploads {
    alias /public/src/uploads/;
    gzip_static on;
    expires max;
    add_header Cache-Control private;
  }

  location /public/src/images {
    alias /public/src/images/;
    gzip_static on;
    expires max;
    add_header Cache-Control private;
  }

  location / {
    proxy_pass http://web:8081;
  }
}