extends ../layout/structure.pug

block content
  .container
    h1.portal-title Giỏ Hàng Của Tôi
    a(href="/").btn.btn-primary.text-light
      i.fas.fa-arrow-left 
      span &nbsp;
      | Tiếp tục mua hàng
    .portal
      p Không có sản phẩm nào
    