extends ./layout/structure.pug

block content
  
  .container-fluid
    .banners-wrapper
      .product-menu
        ul.list-group
          each category in categories
            li.list-group-item.d-flex.align-items-center.justify-content-between
              p= category
              svg.bi.bi-chevron-right(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
      #carouselExampleIndicators.carousel.slide.banner-carousel(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100.h-100(src='/src/public/assets/banner-1.jpg', alt='...')
          .carousel-item
            img.d-block.w-100.h-100(src='/src/public/assets/banner-2.jpg', alt='...')
          .carousel-item
            img.d-block.w-100.h-100(src='/src/public/assets/banner-1.jpg', alt='...')
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

  .container-fluid
    .current-deals__wrapper
      .current-deals__countdown
        .countdown__title
          svg.bi.bi-gift-fill.mr-1(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', d='M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3z')
            path(d='M15 7v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z')
          h6 BliBli Deal
        p Hãy cập nhập để không bỏ lỡ những deal giá tốt nhất bạn nhé!
        .countdown__clock.d-flex.align-items-center.justify-content-between
          .countdown__days
            p.days__display 1
            p Days
          .countdown__hours
            p.hours__display 2
            p Hours
          .countdown__minutes
            p.minutes__display 3
            p Mins
          .countdown__seconds
            p.seconds__display 4
            p Secs
      .current-deals__show.row
        .col.deals-show__image
          img(src="/src/public/assets/images/deal-show.jpg", alt="deal-show")
          p Quần áo trẻ em
          span 20%
        .col.deals-show__image
          img(src="/src/public/assets/images/deal-show-02.jpg", alt="deal-show")
          p Quần áo nữ
          span 20%
        .col.deals-show__image
          img(src="/src/public/assets/images/deal-show.jpg", alt="deal-show")
          p Quần áo trẻ em
          span 20%
        .col.deals-show__image
          img(src="/src/public/assets/images/deal-show-02.jpg", alt="deal-show")
          p Quần áo nữ
          span 20%
        .col.deals-show__image
          img(src="/src/public/assets/images/deal-show-03.jpg", alt="deal-show")
          p Quần áo nam
          span 20%
    .hot-products
      if query 
        p.title
          | # #{query}
      else
        p.title Tìm kiếm nhiều nhất
      hr
      #hot__slick(data-slick='{"slidesToShow": 4, "slidesToScroll": 4}')
        p.slick__content First image
        p.slick__content Second image
        p.slick__content Third image
        p.slick__content Forth image
        p.slick__content Fifth image
        p.slick__content Sixth image
        p.slick__content Seventh image
        p.slick__content Eight image
      //- ul.list 
      //-   each product in products
      //-     .item
      //-       a(href="/products/"+product._id)
      //-         img(src=product.image, alt="")
      //-       .product-info-star
      //-         i.fas.fa-star 
      //-         i.fas.fa-star
      //-         i.fas.fa-star
      //-         i.fas.fa-star
      //-         i.fas.fa-star
      //-       .item-info
      //-         .item-title
      //-           a(href="/products/"+product._id)
      //-             p= product.name
      //-         .button-view
      //-             a(href="/products/"+product._id) 
      //-               p $9.99
          