/* Grid Banners Template */

.banners {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: 65% 35%;
  grid-column-gap: 0.5rem;
}

.banner-1 {
  width: 100%;
  height: 260px;
  border-radius: 5px;
  background-image: url("../../src/banner-1.jpg");
  background-size: cover;
}

.other-banners {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-gap: 0.5rem;
  overflow-x: hidden;
}

.banner-2 {
  width: calc(100% - 0.5rem);
  height: 100%;
  border-radius: 5px;
  background-image: url("../../src/banner-2.jpg");
  background-size: cover;
}

.banner-3 {
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  border-radius: 5px;
  background-image: url("../../src/banner-3.jpg");
  background-size: cover;
}

/* Products */

.hot-products {
  margin-top: 2rem;
  width: 100%;
  height: inherit;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 0;
}

.hot-products .title {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-left: 1.5rem !important;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-gap: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.item {
  height: inherit;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.item img {
  height: 455px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.item .item-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  padding: 0 1rem;
}

.item .button-view {
  color: #3561d9;
  margin-left: 0.5rem;
  font-weight: bolder;
  text-align: right;
  height: calc(100% - 455px);
}

.item .item-title {
  flex-grow: 1;
  font-weight: bolder;
  font-style: italic;
}
