doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title MO.Cart | By Human, For Human
    link(rel='stylesheet' href='/views/css/main.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css', integrity='sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA', crossorigin='anonymous')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
  body
    //- Navbar
    nav
      div.container
        a(href="/")
          img.logo(src='/src/logo/logo.png', alt='logo')
        form(action="/search", method="GET").search-field
          input(type="text", name="q", value=value)
          button
            img(src='/src/search-logo.png', alt='search-icon', width='20px')
        if user
          a.user-info(href="/users/" + user._id)
            if path
              img.avatar(src="http://localhost:5001/"+path, alt='avatar')  
            else
              p.username= user.username.split("")[0]          
        else
          a.user-register(href="/users/register") 
            p Đăng Ký
          a.user-login(href="/users/login")
            p Đăng Nhập
        .shop-cart
          if cartNumber
            a(href="/cart/portal")
              img(src='/src/shopping-cart.png', alt='shop-cart')
          else
            img(src='/src/shopping-cart.png', alt='shop-cart')
          .shop-cart-items.d-flex.justify-content-center.align-items-center
            if cartNumber
              p.text-center= cartNumber
            else 
              p.text-center 0
    
    block content

    footer 
      .something
        p Create by Chau Dinh &copy; 2018-2019 Mo.Cart and individual contributors. Content is available under ISC licenses.
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js', integrity='sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp', crossorigin='anonymous')
    script(src='../../layout.js')
