extends ../layout/structure.pug

block content
  .container.mt-4
    a.back-home(href="/")
      p        
        i.fas.fa-arrow-left 
        | &nbsp; Trở về trang chủ
    .product-view
      .product-info-image
        img(src="http://localhost:5001/"+pathImage, alt="")
      .product-info
        p= product.name